@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Base Styles */
$font-stack: 'Roboto', sans-serif;
$primary-color: #282a36;
$secondary-color: #44475a;
$dracula-pink: #ff79c6;
$dracula-yellow: #f1fa8c;
$dracula-green: #50fa7b;
$dracula-white: #f8f8f2;
$dracula-orange: #ffb86c;
$dracula-cyan: #8be9fd;
$dracula-red: #ff5555;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-size: 16px;
}

html {
  background-color: $primary-color;
  color: $dracula-pink;
  font-family: $font-stack;
  scroll-behavior: smooth;
}

/* Header Styles */
@import 'Header';

/* Home Page Styles */
@import 'Home';

/* Blog Page Styles */
@import 'Blog';

/* Work Page Styles */
@import 'Work';

/* Contact Page Styles */
@import 'Contact';

/* Success Page Styles */
@import 'Success';

/* Footer Styles */
@import 'Footer';

/* Media Queries */

/* For Tablets */
@media (min-width: 481px) {
  .home-container {
    font-size: 1.8rem;
  }

  .contact-container {
    .contact-form {
      height: 605px;
      width: 400px;

      textarea {
        height: 6rem;
      }
    }
  }
}

/* For Laptops */
@media (min-width: 769px) {
  .home-container {
    font-size: 2.8rem;
  }

  .work-container {
    .work-project-container {
      grid-template-columns: repeat(2, 300px);
    }
  }

  .blog-container {
    height: 100vh;
  }
}

/* For Large Screens */
@media (min-width: 1025px) {
  .home-container {
    font-size: 3.8rem;
  }

  .blog-container {
    .blog-card-container {
      grid-template-columns: repeat(3, 300px);
    }
  }

  .work-container {
    height: 100vh;

    .work-project-container {
      grid-template-columns: repeat(3, 300px);
    }
  }
}
