@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

:root {
  --primary-color: #282a36;
  --secondary-color: #44475a;
  --text-color: #ff79c6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

html {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Fira Code', monospace;
}

/* Header Stlyes */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: var(--primary-color);
}

.nav-bar a {
  color: #f1fa8c;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 1rem;
}

.nav-bar a:hover {
  text-decoration: underline;
}

/* Home Page Styles */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  font-size: 1rem;
  text-align: center;
}

.home-container span {
  color: #50fa7b;
}

.commits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  height: 112px;
  width: 333px;
}

.commits-col {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 10px;
}

.commits-box {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(27, 31, 35, 0.04);
}

/* Blog Page Styles */

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(height - 15%);
  text-align: center;
}

.blog-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin: 1rem;
  transition: all 0.3s;
  text-decoration: none;
  height: 300px;
  width: 300px;
}

.blog-post:hover {
  transform: translate(0, -2px);
}

.blog-post h3 {
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 1rem;
}

.blog-post p {
  color: #f8f8f2;
  padding: 0 1rem;
}

/* Work Page Styles */

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(height - 15%);
  text-align: center;
}

.work-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.3s;
  text-decoration: none;
  height: 575px;
  width: 300px;
}

.work-project:hover {
  transform: translate(0, -2px);
}

.work-project h3 {
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 1rem 0;
}

.work-project p {
  color: #f8f8f2;
}

.work-project a {
  background-color: var(--text-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: 200px;
}

.work-project a > i {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.work-project-tech i {
  margin: 0 1rem;
  font-size: 2rem;
}

.fa-html5 {
  color: #ffb86c;
}

.fa-css3-alt {
  color: #8be9fd;
}

.fa-js {
  color: #f1fa8c;
}

.fa-react {
  color: #8be9fd;
}

/* Contact Page Styles */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.contact-form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 1rem 2rem;
  height: 500px;
  width: 280px;
}

.contact-form div {
  width: 100%;
}

.contact-form div > div {
  height: 2rem;
  width: 100%;
  font-size: 0.8rem;
  color: #ff5555;
}

.contact-form input,
textarea {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  color: #f8f8f2;
  font-family: inherit;
  font-size: inherit;
  margin-top: 0.5rem;
  padding: 0.5rem;
  outline: none;
  width: 100%;
}

.contact-form button {
  background-color: var(--text-color);
  border: 0;
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: none;
  width: 50%;
}

/* Success Page */
.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 85%;
}

/* Footer Styles */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.social-links a {
  color: #f1fa8c;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 2rem;
}

/* Media Queries */

/* For Tablets */
@media (min-width: 481px) {
  .home-container {
    font-size: 1.5rem;
  }

  .contact-form {
    height: 605px;
    width: 400px;
  }

  .contact-form div > div {
    height: 3rem;
  }

  .contact-form textarea {
    height: 6rem;
  }
}

/* For Laptops */
@media (min-width: 769px) {
  .home-container {
    font-size: 2rem;
  }

  .work-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 85%;
  }

  .success-container {
    font-size: 2rem;
  }
}

/* For Large Screens */
@media (min-width: 1025px) {
  .nav-bar {
    width: 50%;
  }

  .blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85%;
    text-align: center;
  }

  .blog-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .work-container {
    height: 85%;
  }
}
