@import '../styles.scss';

.contact-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding-bottom: 2rem;

  .fab.fa-github,
  .fab.fa-linkedin-in {
    font-size: 2rem;
    color: $light-theme-text;
    padding-right: 1rem;
  }

  .fab.fa-github.light,
  .fab.fa-linkedin-in.light {
    color: $light-theme-text;
  }

  .fab.fa-github.dark,
  .fab.fa-linkedin-in.dark {
    color: $dark-theme-text;
  }
}
