.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  position: relative;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;

  .logo {
    height: 2rem;
    width: 2rem;

    @media (min-width: 481px) {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
