/* Blog Page Styles */
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  justify-content: center;
  padding: 1rem;
  height: auto;
  text-align: center;

  .blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    height: 300px;
    width: 300px;

    &:hover {
      transform: translate(0, -2px);
    }

    h3 {
      color: $dracula-pink;
      font-size: 1.4rem;
      padding: 1rem;
    }
    p {
      color: $dracula-white;
      padding: 0 1rem;
    }
  }
}
